/*		Genius Room: WYWO
		Script: Stylesheet for CRUMBS page
		Revision: 3.0.6
*/

#login_information {
	color: rgb(100,100,100);
	padding: 25px 100px 35px 50px;
}

#login_username, #login_password {
	font-size: 12px;
	font-weight: bold;
	margin: auto;
	padding: 10px 0 10px 0;
	width: 400px;
}

#login label {
	float: left;
	padding: 0 5px 0 0;
	text-align: right;
	vertical-align: middle;
	width: 100px;
}

#username, #password {
	border: 1px solid rgb(235,235,235);
	margin: -3px 0 0 0;
	outline: 0;
	padding: 3px 5px 4px 5px;
	vertical-align: middle;
	width: 200px;
}

#username:focus, #password:focus {
	border: 1px solid rgb(175,175,175);
}

#login_go {
	margin: 10px 0 0 0;
	padding: 0 0 20px 0;
	text-align: center;
}

/*		Copyright: 2010 by Michael V. Colianna. */
