/*		Genius Room: WYWO
		Script: Stylesheet for INDEX page
		Revision: 3.0.6
*/

body {
	font: 13px 'Lucida Grande';
	margin: 0;
}
a {
	color: rgb(50,100,200);
	text-decoration: none;
}
a:hover {
	color: rgb(200,50,50);
}

#wrapper {
	margin: 25px auto 25px auto;
	width: 800px;
}

#title {
	font-size: 30px;
	font-weight: bold;
}

#navigation, #links {
	border-bottom: 1px solid rgb(240,240,240);
	border-top: 1px solid rgb(240,240,240);
	font-size: 13px;
	font-weight: bold;
	padding: 5px 0 5px 0;
}

#navigation a {
	margin: 0 25px 0 0;
}

#body {
	margin: 15px 0 15px 0;
}

#links {
	text-align: right;
}

#links a {
	margin: 0 0 0 25px;
}

#info {
	color: rgb(150,150,150);
	font-size: 11px;
	padding: 5px 0 5px 0;
	text-align: center;
}

#info a {
	font-weight: bold;
}

.button {
	background: transparent;
	border: none;
	color: rgb(50,100,200);
	cursor: pointer;
	font: bold 13px 'Lucida Grande';
	margin: 0;
	padding: 0;
}

.button:hover {
	color: rgb(200,50,50);
}

#empty {
	color: rgb(150,150,150);
	font-size: 40px;
	font-style: italic;
	padding: 50px 0 50px 0;
}

/*		Copyright: 2010 by Michael V. Colianna. */
